/* style sheet for About page */
*{
    margin: 1%;
    font-family: sans-serif;
    font-size: 40px;
    background-image: url(https://scontent.frdp1-1.fna.fbcdn.net/v/t1.6435-9/244584146_2955484441341280_8349105263085767345_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=plS8eic0sesAX_KitxF&_nc_ht=scontent.frdp1-1.fna&oh=8a3c6e6f663fb1e168f9568526f648d6&oe=618912FF);
    color: papayawhip;
}

.heading{
    font-family: 'Times New Roman';
    text-align:center;

}

.buttn{
    width: 200px;
    height: 60px;
    background:black;
    border:3px;
    color: white;
    font-size: 20px;
    border-bottom-right-radius: 5px;
    border-radius: 10px;
    
}

.button{
        width: 200px;
        height: 60px;
        background:black;
        border:3px;
        color: white;
        font-size: 20px;
        border-bottom-right-radius: 5px;
        border-radius: 10px;
    
}
.buttn:hover{
    color:red;
  
}
.button:hover{
    color:red;
}
